<body class="homepage">
  <div class="home_msg">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Sign up!</h1>
      </div>
      <%= flash[:message] %>
      <%= form_for @user, {class: 'form-group'} do |f| %>
      <div class="panel-body">
          <%= f.label "Name: " %>
          <%= f.text_field :name, class: 'form-control'%>
          <%= f.label "E-mail: " %>
          <%= f.email_field :email, class: 'form-control'%>
          <%= f.label "Password: " %>
          <%= f.password_field :password, class: 'form-control'%>
          <%= f.label "Confirm Password: " %>
          <%= f.password_field :password_confirmation, class: 'form-control' %><br>
          <%= f.submit class: "btn btn-primary btn-block" %>
        <% end %><br>
      </div>
    </div>
  </div>
</body>
