<h1> <%= @event.name %> </h1>
<ul>
  <li>Location: <%= @event.location %> </li>
  <li>Duration: <%= @event.duration.strftime("%H hr %M min") %> </li>
  <li>Start Time: <%= @event.term.start_term.strftime("%A, %b %d, %Y - %I:%M %P") %> </li>
  <li>End Time: <%= @event.term.end_term.strftime("%A, %b %d, %Y - %I:%M %P") %> </li>
</ul>
<br>
<%= link_to "Back to Occasion", occasion_path(@event.occasion) %><br></br>
<% if @event.admin.id == current_user %>
  <%= link_to "Edit Event", edit_occasion_event_path(@event.occasion, @event) %>
  <%= link_to "Delete Event", occasion_event_path(@event.occasion, @event), method: "DELETE" %>
<% end %>
