<h1>Create New Occasion</h1>
<br>

<% if flash[:message] %>
  <ul>
    <% flash[:message].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@occasion) do |f| %>
  <%= f.label "Title:" %>
  <%= f.text_field :title %><br>
  <%= f.fields_for :term, @occasion.term do |t| %>
    <%= t.label "Start Time:" %>
    <%= t.datetime_field :start_term, min: Date.today %><br>
    <%= t.label "End Time:" %>
    <%= t.datetime_field :end_term, min: Date.today %><br>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
